{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container-fluid">
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="text-center">
                        <h1 class="login-title">You are logged in as {{ app.user.username }}</h1>
                        <a href="{{ path('app.logout') }}" class="btn btn-primary">Logout</a>
                    </div>

                {% else %}
                    <div class="account-wall">
                        <div class="form-group">
                            <h1 class="text-center login-title">Sign in</h1>
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="user@example.com" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="••••••••" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                            #}

                            <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 20px;">
                                Sign in
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
