{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center" style="margin-bottom: 20px"> <h1>Tags</h1>
            <div class="row-center">
                {% for tag in tags %}
                    <a href="{{ path('app.tag', {id: tag.id}) }}" class="badge badge-secondary"><h6>{{ tag.name }} </h6></a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-6" id="updated">
                <h1>Most Recent</h1>
                {% for campaign in campaignsD %}
                    <a href="{{ path('app.campaign', {id: campaign.id}) }}"><h3>{{ campaign.name }}</h3></a>
                    <a href="{{ path('app.theme', {id: campaign.theme.id}) }}"><h4>{{ campaign.theme }}</h4></a>
                    <h5>
                        {% if campaign.description%}
                            {{ campaign.description }} <br>
                        {% endif %}
                        Average Rating: {{ campaign.rating }} <br>
                        Last time updated: {{ campaign.date|date('d.m.Y') }} <br>
                        Expiration Date: {{ campaign.expirationDate|date('d.m.Y') }} <br>
                        <div class="row">
                            <div class="col-6">
                                <div class="progress" style="height: 32px">
                                    <div class="progress-bar bg-success"
                                         style="width: {{ (campaign.currentMoney/campaign.moneyGoal)*100 }}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h5>
                {% endfor %}
            </div>
            <div class="col-6" id="popular">
                <h1>Most popular</h1>
                {% for campaign in campaignsR %}
                    <a href="{{ path('app.campaign', {id: campaign.id}) }}"><h3>{{ campaign.name }}</h3></a>
                    <a href="{{ path('app.theme', {id: campaign.theme.id}) }}"><h4>{{ campaign.theme }}</h4></a>
                    <h5>
                        {% if campaign.description%}
                            {{ campaign.description }} <br>
                        {% endif %}
                        Average Rating: {{ campaign.rating }} <br>
                        Last time updated: {{ campaign.date|date('d.m.Y') }} <br>
                        Expiration Date: {{ campaign.expirationDate|date('d.m.Y') }} <br>
                        <div class="row">
                            <div class="col-6">
                                <div class="progress" style="height: 32px">
                                    <div class="progress-bar bg-success"
                                         style="width: {{ (campaign.currentMoney/campaign.moneyGoal)*100 }}%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h5>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
