{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="text-center">
            <div class="btn-group">
                <a href="{{ path('app.admin.user') }}" class="btn btn-secondary"> Users</a>
                <a href="{{ path('app.admin.campaign') }}" class="btn btn-secondary"> Companies</a>
                <a href="{{ path('app.admin.post') }}" class="btn btn-secondary"> Posts</a>
                <a href="{{ path('app.admin.bonus') }}" class="btn btn-secondary"> Bonuses</a>
                <a href="{{ path('app.admin.comment') }}" class="btn btn-secondary"> Comments</a>
                <a href="{{ path('app.admin.tag') }}" class="btn btn-secondary"> Tags</a>
                <a href="{{ path('app.admin.theme') }}" class="btn btn-secondary"> Themes</a>
            </div>
        </div>
    </div>
{% endblock %}
