<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('app.home') }}">Home</a>
                    </div>

                    <div class="navbar-form pull-right">
                        <div class="row">
                            <div class="col-6.5">
                                <form class="form-inline">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <div class="col-5.5">
                                {% if app.user %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('app.admin') }}" id="adminPanel" class="btn btn-primary">Admin Panel</a>
                                    {% endif %}
                                    <a href="{{ path('app.profile', {id: app.user.id }) }}" id="userPage" class="btn btn-primary">{{ app.user.username }}</a>
                                    <a href="{{ path('app.logout') }}" id="SignOut" class="btn btn-primary">Sign Out</a>
                                {% else %}
                                    <a href="{{ path('app.login') }}" id="SignIn" class="btn btn-primary">Sign In</a>
                                    <a href="{{ path('app.register') }}" id="SignUp" class="btn btn-primary">Sign Up</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
