{% extends 'admin/admin.html.twig' %}

{% block body %}
    {{ parent() }}
<div class="container-fluid" style="margin-top: 20px">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Profile</th>
                <th>Email</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td> <a href="{{ path('app.profile', {id: user.id}) }}">{{ user.name }}</a> </td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app.admin.user.show', {'id': user.id}) }}" class="btn btn-primary">Show</a>
                    <a href="{{ path('app.admin.user.edit', {'id': user.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
